<!-- begin footer -->
<footer class="footer">

  <div class="footer__inner">
    <div class="container">
      <div class="row">
        <form
        action="https://buttondown.email/api/emails/embed-subscribe/carpedavid"
        method="post"
        target="popupwindow"
        onsubmit="window.open('https://buttondown.email/carpedavid', 'popupwindow')"
        class="embeddable-buttondown-form"
        >
        <input type="text" name="metadata__first_name" id="first_name" placeholder="First Name"/>
        <input type="email" name="email" id="bd-email" placeholder="Email"/>
        <input type="submit" value="Subscribe" />
        <p>
          <a href="https://buttondown.email/refer/carpedavid" target="_blank">Powered by Buttondown.</a>
        </p>
      </form>
      </div>
    </div>
  </div>

  <div class="footer__info">
    <div class="container">
      <div class="row">
        <div class="col col-12">
          <div class="footer__info-box">
            <div class="copyright">Copyright &copy; {{ dateFormat "2006" now }} Amalara Game Studio.</div>
            <div class="top" title="Top"><i class="fa-regular fa-arrow-up"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>
<!-- end footer -->