<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/svg+xml" href="/images/favicon.svg">

  <title>{{ if not .IsHome }}{{ humanize .Title }} | {{ end }}{{ .Site.Title }}</title>
  <meta name="description" content="{{if .IsHome}}{{ .Site.Params.description }}{{else}}{{ .Description }}{{end}}">

  {{ with .OutputFormats.Get "rss" -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end }}

  <script>
    if (localStorage.getItem("theme") === "dark") {
      document.documentElement.setAttribute("dark", "");
      document.documentElement.classList.add('dark-mode');
    }
  </script>

  <script src="https://kit.fontawesome.com/b341ca0c03.js" crossorigin="anonymous"></script>

  <!-- CSS -->
  {{ with resources.Get "sass/main.scss" | toCSS | minify }}
  <style>{{ .Content | safeCSS }}</style>
  {{ end }}

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css" />
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js"></script>
  <script type="text/javascript">
    algoliasearchNetlify({
      appId: '7FI4S1N5VS',
      apiKey: 'dda44d8310d832e11ccd813e1451deba',
      siteId: 'd1a5bda9-50b8-444a-90b6-50acd30b893a',
      branch: 'main',
      selector: 'div#search',
    });
  </script>

</head>